@import url('../fonts/font.css');
body {
    background-color: #000;
    background-image: url("");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    font-weight: 100;
    font-family: 'Roboto Mono', monospace;
}
body::after {
  background: url(img/bg.jpg);
  content: "";
  opacity: 0.3;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;   
  background-repeat: no-repeat;
  background-size: cover;
}

hr {
    border-top: 1px dashed #ffe600;
}

.container {
    position: absolute;
    top: 40%;
    margin-top: -200px;
    left: 50%;
    margin-left: -25%;
    width: 45%;
    height: 400px;
    font-weight: 100;
}

#inspire {
    width: 30%;
    float: left;
}

.icon {
    width: 80%;
    height: auto;
}

.icon2 {
    width: 15%;
    height: auto;
}

#fact {
    font-size: 25px;
    line-height: 2.0em;
    letter-spacing: 0.5px;
    font-weight: 100;
    color: white;
    text-align: justify;
}

#publisher {
    font-size: 1.5em;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
}
.mt {
	font-size: 1.5em;
	text-align: left;
	color: #fff;
}
